@using Microsoft.AspNetCore.Components.Authorization

<nav class="custom-navbar">
    <div class="container nav-wrapper">
        <a class="navbar-brand-custom" href="/">MUSEUM</a>

        <div class="nav-right-group">
            <div class="nav-links">
                <NavLink class="nav-link-custom" href="/exhibitions">ВЫСТАВКИ</NavLink>
                <NavLink class="nav-link-custom" href="/orders">МОИ ЗАКАЗЫ</NavLink>

                @if (IsAdmin)
                {
                    <div class="nav-dropdown-custom">
                        <span class="nav-link-custom">АДМИНИСТРИРОВАНИЕ</span>
                        <div class="dropdown-content">
                            <NavLink href="/admin/museum">МУЗЕЙ</NavLink>
                            <NavLink href="/admin/system">СИСТЕМА</NavLink>
                        </div>
                    </div>
                }
            </div>

            <NavLink class="btn-login-custom" href="/login">ВОЙТИ</NavLink>
        </div>
    </div>
</nav>

@code {
    private bool IsAdmin = false;

    [CascadingParameter]
    private Task<AuthenticationState>? AuthStateTask { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        if (AuthStateTask != null)
        {
            var authState = await AuthStateTask;
            var user = authState.User;

            IsAdmin = user.IsInRole("Администратор музея") ||
                      user.IsInRole("Администратор системы");
        }
    }
}
