@using System.Security.Claims
@using System.IdentityModel.Tokens.Jwt
@inject IJSRuntime JS
@inject NavigationManager Nav

<nav class="custom-navbar" style="background-color: #000; padding: 15px 0; border-bottom: 1px solid #212126;">
    <div class="container-fluid" style="display: flex; align-items: center; padding: 0 50px;">
        
        <a class="navbar-brand-custom" href="/" style="color: #fff; font-weight: 900; letter-spacing: 3px; text-decoration: none; font-size: 1.3rem; margin-right: auto;">MUSEUM</a>

        <div style="display: flex; align-items: center; gap: 30px;">
            <NavLink class="nav-link-custom" style="color: #c2c0bd; text-decoration: none; font-size: 0.8rem; font-weight: 700; text-transform: uppercase;" href="/exhibitions">ВЫСТАВКИ</NavLink>
    
            @if (isLoggedIn)
            {
                <NavLink class="nav-link-custom" style="color: #c2c0bd; text-decoration: none; font-size: 0.8rem; font-weight: 700; text-transform: uppercase;" href="/orders">МОИ ЗАКАЗЫ</NavLink>

                @if (isSystemAdmin)
                {
                    <NavLink class="nav-link-custom" style="color: #c2c0bd; text-decoration: none; font-size: 0.8rem; font-weight: 700; text-transform: uppercase;" href="/admin/system">СИСТЕМА</NavLink>
                }
                @if (isMuseumAdmin)
                {
                    <NavLink class="nav-link-custom" style="color: #c2c0bd; text-decoration: none; font-size: 0.8rem; font-weight: 700; text-transform: uppercase;" href="/admin/museum">АДМИНКА МУЗЕЯ</NavLink>
                }

                <span style="color: #4b4b47; font-size: 0.75rem; margin-left: 10px; max-width: 120px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" title="@userEmail">
                    @userEmail
                </span>

                <a class="btn-logout" style="cursor:pointer; background: #fff; color: #000; padding: 6px 20px; border-radius: 20px; font-weight: 800; font-size: 0.75rem; text-decoration: none; margin-left: 10px;" @onclick="Logout">ВЫЙТИ</a>
            }
            else
            {
                <NavLink class="btn-logout" style="background: #fff; color: #000; padding: 6px 20px; border-radius: 20px; font-weight: 800; font-size: 0.75rem; text-decoration: none;" href="/login">ВОЙТИ</NavLink>
            }
        </div>
    </div>
</nav>



@code {
    private bool isLoggedIn = false;
    private bool isSystemAdmin = false;
    private bool isMuseumAdmin = false;
    private string userEmail = "";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadUserStatus();
        }
    }

    private async Task LoadUserStatus()
    {
        try
        {
            var token = await JS.InvokeAsync<string>("auth.getToken");
            if (!string.IsNullOrEmpty(token) && token.Contains("."))
            {
                token = token.Trim('"');
                var handler = new JwtSecurityTokenHandler();
                if (handler.CanReadToken(token))
                {
                    var jwt = handler.ReadJwtToken(token);
                    var claims = jwt.Claims.ToList();

                    userEmail = claims.FirstOrDefault(c => c.Type == "email")?.Value ?? "";
                    
                    var roles = claims
                        .Where(c => c.Type == "role" || c.Type == ClaimTypes.Role || c.Type.Contains("role"))
                        .Select(c => c.Value).ToList();

                    isLoggedIn = true;

                    isSystemAdmin = roles.Contains("Администратор системы");
                    
                    isMuseumAdmin = roles.Contains("Администратор музея") || isSystemAdmin;
                    
                    StateHasChanged();
                }
            }
        }
        catch { isLoggedIn = false; }
    }

    private async Task Logout()
    {
        await JS.InvokeVoidAsync("auth.removeToken");
        isLoggedIn = false;
        Nav.NavigateTo("/login", forceLoad: true);
    }
}
