@page "/login"
@using Museum.Domain.DTOs
@using System.IdentityModel.Tokens.Jwt
@inject HttpClient Http
@inject NavigationManager Navigation
@inject IJSRuntime JS

<div class="auth-wrapper">
    <div class="login-card">
        
        <div class="auth-header-static">
            <div class="auth-logo">MUSEUM</div>
            <div class="auth-toggle-header">
                <span class="auth-tab @(activeTab == "login" ? "active" : "")" @onclick='() => SetTab("login")'>SIGN IN</span>
                <span class="auth-tab @(activeTab == "register" ? "active" : "")" @onclick='() => SetTab("register")'>SIGN UP</span>
            </div>
        </div>

        <div class="auth-content">
            @if (!string.IsNullOrEmpty(message))
            {
                <div class="auth-alert">
                    @message
                </div>
            }
            @if (activeTab == "login")
            {
                <EditForm Model="loginModel" OnValidSubmit="SubmitLogin">
                    <div class="input-block">
                        <label class="museum-label">Email</label>
                        <InputText @bind-Value="loginModel.Email" class="museum-control"/>
                    </div>
                    <div class="input-block">
                        <label class="museum-label">╧рЁюы№</label>
                        <InputText @bind-Value="loginModel.Password" type="password" class="museum-control"/>
                    </div>
                    <button type="submit" class="btn-museum-action">┬╬╔╥╚</button>
                </EditForm>
            }
            else
            {
                <EditForm Model="regModel" OnValidSubmit="SubmitRegister">
                    <div class="input-row">
                        <div class="input-block">
                            <label class="museum-label">╘рьшыш </label>
                            <InputText @bind-Value="regModel.LastName" class="museum-control" />
                        </div>
                        <div class="input-block">
                            <label class="museum-label">╚ь </label>
                            <InputText @bind-Value="regModel.FirstName" class="museum-control" />
                        </div>
                    </div>

                    <div class="input-block">
                        <label class="museum-label">╬ҐіхёҐтю</label>
                        <InputText @bind-Value="regModel.MiddleName" class="museum-control" />
                    </div>

                    <div class="input-block">
                        <label class="museum-label">Email Address</label>
                        <InputText @bind-Value="regModel.Email" class="museum-control" />
                    </div>

                    <div class="input-row">
                        <div class="input-block">
                            <label class="museum-label">╥хыхЄюэ</label>
                            <InputText @bind-Value="regModel.Phone" class="museum-control" />
                        </div>
                        <div class="input-block">
                            <label class="museum-label">╧рЁюы№</label>
                            <InputText @bind-Value="regModel.Password" type="password" class="museum-control" />
                        </div>
                    </div>

                    <button type="submit" class="btn-museum-action">CREATE ACCOUNT</button>
                </EditForm>
            }
        </div>
    </div>
</div>